@charset "utf-8";

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;

  @media only screen and (min-width: $breakpoint-md) {
    font-size: 14px;
  }

  @media only screen and (min-width: $breakpoint-lg) {
    font-size: 16px;
  }
}

body * {
  font-family: Roboto;
  font-size: 1rem;
  color: #333333;
}

html *,
html *::after,
html *::before {
  box-sizing: border-box;
  user-select: none;
}
