.container {
  position: absolute;
  display: none;
  border-radius: 50%;
  border: 0.3rem solid #ffffff;
  touch-action: none;
  pointer-events: none;

  canvas {
    display: block;
    border-radius: 50%;
    border: 1rem solid gray;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1) inset;
    touch-action: none;
    pointer-events: none;
  }
}
