.container {
  position: relative;
  flex-grow: 10;

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem #666666;
  }

  &.isActive {
    canvas {
      border-color: #ff0000;
      cursor: crosshair;
    }
  }
}
